 {# src/AdManager/PublisherBundle/Resources/views/Ad/index.html.twig #}
 {% extends 'AdManagerPublisherBundle::base.html.twig' %}

 {% block title %}Delete Ad {{ ad.id }}{% endblock %}
 {% block body %}
<form action="{{ path('ad_delete', {'id':ad.id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" />
</form>
 <div class='ad-details'>
    {% include 'AdManagerPublisherBundle:Ad:adDetails.html.twig' with {'ad': ad} %}
    {% for field in ad.FieldValues %}
    <div class='ad-details span4 offset1'>
	{{ field.field.name }} : {{ field.value }}
    </div>
    {% endfor %}
 </div>
 {% endblock %}