 {# src/AdManager/PublisherBundle/Resources/views/Ad/index.html.twig #}
 {% extends 'AdManagerPublisherBundle::base.html.twig' %}

 {% block title %}Ads{% endblock %}
 
 {% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/admanagerpublisher/css/main.css') }}" type="text/css" rel="stylesheet" />
 {% endblock %}
 
 {% block body %}
    <table class="table table-hover">
	<thead>
	    <tr>
		<th>#</th>
		<th>Title</th>
		<th>Publisher</th>
		<th>Creation Date</th>
		<th>Is Deleted</th>
		<th>Actions</th>
	    </tr>
	</thead>
	<tbody>
	{% for ad in ads %}
		<tr {% if ad.deleted == 1 %} {{"class='warning'"}} {% endif %}>
		    <td>{{ad.id}}</td>
		    <td><a href="{{ path('ad_show', {'id' : ad.id }) }}">{{ad.title}}</a></td>
		    <td>{{ad.getPublisher().getName() }}</td>
		    <td>{{ad.CreationDate.format('Y-m-d H:i:s') }}</td>
		    <td>{% if ad.deleted == 1 %}Yes{%else%}No{% endif %}</td>
		    <td>
			<a class="btn btn-small" href="{{ path('ad_show', {'id' : ad.id }) }}">Edit</a>
			{% if ad.deleted ==0 %}
			    <a  class="btn btn-small" href="{{ path('ad_show', {'id' : ad.id }) }}">Delete</a>
			{% endif %}
		    </td>
		</tr>
	{% endfor %}
	</tbody>
    </table>
 {% endblock %}