{# src/AdManager/PublisherBundle/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Test Application{% endblock %}</title>

	{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
	<link href="{{ asset('bundles/admanagerpublisher/css/main.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
	<div class='container'>
	<div class='row'>
	    <div class="page-header">
		<h1>{% block header_title %}Real Estate{% endblock %} <small>{% block header_title_subtext %}helper{% endblock %}</small></h1>
	    </div>
	    <div id="sidebar" class="span3">
            {% block sidebar %}
		<ul class="nav nav-list">
		    <li><a href="{{ path('ad_manager_publisher_homepage') }}"><i class="icon-user"></i> Publishers</a></li>
		    <ul class="nav nav-list">
			<li><a href="{{ path('add_publisher') }}">Add Publisher</a></li>
		    </ul>
		    <li><a href="{{ path('ad_manager_ad_homepage') }}"><i class="icon-list-alt"></i> Ads</a></li>
		    <ul class="nav nav-list">
			<li><a href="{{ path('add_ad') }}">Add Ad</a></li>
		    </ul>
		    <li><a href="{{ path('ad_manager_field_homepage') }}"><i class="icon-pencil"></i> Fields</a></li>
		    <ul class="nav nav-list">
			<li><a href="{{ path('add_field') }}">Add Field</a></li>
		    </ul>
		</ul>
            {% endblock %}
	    
	    {% block settings %}
		    <div>
		    </div>
	    {% endblock %}
	    </div>

	    <div id="content" class="span9">
	    {% block body %}
	    {% endblock %}
	    </div>
	{% block javascripts %}
	    <script src="{{ asset('/js/main.js') }}" type="text/javascript"></script>
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	    <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
	    <script src="{{ asset('js/bootstrap.js') }}"></script>
        {% endblock %}
	</div>
	</div>
    </body>
	</html>